body {
  background-color:  #f2f2f2; /* Azul */
}

header {
  background-color: #3E4095; /* Azul más oscuro */
  padding: 20px 0;
  color: rgb(255, 255, 255);
  text-align: center;
}

.logo {
  width: 50px;
  vertical-align: middle;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

th, td {
  border: 1px solid #000000;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #f2f2f2; /* Gris claro */
  text-align: center;
}

.hidden {
  display: none;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); /* Fondo negro semitransparente */
}

.modal-content {
  background-color: #f2f2f2; /* Gris */
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #f2f2f2;
  width: 50%; /* Modifica el ancho de la ventana modal aquí */
}

.close {
  color: #f2f2f2;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.btn {
  background-color: #a1a1a1;
  color: #000000;
  padding: 8px 10px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #f2f2f2;
}

/* Estilos para los campos de entrada en la ventana modal */
.input-group {
  margin-bottom: 10px;
}

.input-group label {
  display: inline-block;
  width: 200px; /* Ajustado para adaptarse a los nuevos campos */
  text-align: right;
  margin-right: 10px;
}

.input-group input,
.input-group select {
  width: calc(100% - 210px); /* Ajustado para adaptarse a los nuevos campos */
}
