/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

/* Encabezado del hospital */
.jumbotron {
    background-color: #007bff;
    color: #fff;
    padding: 2rem;
    text-align: center;
}

/* Estilos para la sección de servicios */
h2 {
    color: #333;
}

ul {
    list-style-type: disc;
    margin-left: 1.5rem;
}

/* Imágenes */
.img-fluid {
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
}
